.postContainer {
background-color: darkseagreen;
    margin: 4px;
    padding: 8px;
}

.avaPosts {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.avaPostsDialog {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    margin: 4px;
}

.item {
    color: rebeccapurple;
}