.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 16px;

}


.dialogsItems .dialogs{
    text-decoration: none;
}

.dialogsItems a.active {
    color: lightskyblue;
    text-decoration: none;
}

.messages {
    /*padding: 16px;*/
    margin-left: 24px;
}


.messages .message {
}

.item a {
    color: lightslategrey;
    text-decoration: none;
    padding-left: 8px;
}



/*.nav {*/
/*    grid-area: n;*/
/*    background-color: mistyrose;*/
/*    padding: 8px;*/
/*}*/

/*.item a {*/
/*    color: lightslategrey;*/
/*    text-decoration: none;*/
/*    padding: 8px*/

/*}*/

/*.item a.active {*/
/*    color: lightskyblue;*/
/*}*/
