.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 16px;

}


.dialogsItems .dialogs{
    text-decoration: none;
}

.dialogsItems a.active {
    color: lightskyblue;
    text-decoration: none;
}

.messages {
    /*padding: 16px;*/
margin: 48px;

}


.messages .message {
}

.item a {
    color: lightslategrey;
    text-decoration: none;
    padding-left: 8px;
}

.itemDialog {
    display: flex;
    align-items: center; /* Центрирование элементов по вертикали */
    /*justify-content: center; !* Центрирование элементов по горизонтали, если требуется *!*/
}

.itemDialog a {
    color: lightslategrey;
    text-decoration: none;
    padding-left: 8px;
    display: flex;
    align-items: center; /* Центрирование содержимого внутри ссылки по вертикали */
}





/*.nav {*/
/*    grid-area: n;*/
/*    background-color: mistyrose;*/
/*    padding: 8px;*/
/*}*/

/*.item a {*/
/*    color: lightslategrey;*/
/*    text-decoration: none;*/
/*    padding: 8px*/

/*}*/

/*.item a.active {*/
/*    color: lightskyblue;*/
/*}*/
