.dialogs {
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 8px;
}

.dialogsItems a.active {
    color: lightslategrey;
}

.messages {
    padding: 8px;
}


.messages .message {

}