.nav {
    grid-area: n;
    background-color: mistyrose;
    padding: 8px;
}

.item a {
    color: lightslategrey;
    text-decoration: none;
    padding: 8px

}

.item a.active {
    color: lightskyblue;
}
